In [13]:
import pandas as pd
import requests
import datetime

In [14]:
ENDPOINT = 'https://danepubliczne.imgw.pl/api/data/synop/'
response = requests.get(ENDPOINT).json()

In [15]:
df = pd.DataFrame(response)

In [16]:
df['data_pomiaru'] = df['data_pomiaru'] + ' ' + df['godzina_pomiaru']
df['data_pomiaru'] = pd.to_datetime(df['data_pomiaru'])
df = df.drop(columns=['godzina_pomiaru'])

In [17]:
# Define the conversion dictionary
convert_dict = {'id_stacji':int, 'temperatura':float, 'predkosc_wiatru':int, 'kierunek_wiatru':int, 
                'wilgotnosc_wzgledna':float, 'suma_opadu':float, 'cisnienie':float
            }
# Convert columns using the dictionary
df = df.astype(convert_dict)
print(df.dtypes)

id_stacji                       int64
stacja                         object
data_pomiaru           datetime64[ns]
temperatura                   float64
predkosc_wiatru                 int64
kierunek_wiatru                 int64
wilgotnosc_wzgledna           float64
suma_opadu                    float64
cisnienie                     float64
dtype: object

In [18]:
df

,id_stacji,stacja,data_pomiaru,temperatura,predkosc_wiatru,kierunek_wiatru,wilgotnosc_wzgledna,suma_opadu,cisnienie
0,12295,Białystok,2025-05-01 13:00:00,16.6,3,330,31.5,0.0,1022.3
1,12600,Bielsko Biała,2025-05-01 13:00:00,19.7,3,290,38.2,0.0,1021.5
2,12235,Chojnice,2025-05-01 13:00:00,18.8,3,190,42.3,0.0,1021.7
3,12550,Częstochowa,2025-05-01 13:00:00,19.4,3,330,38.4,0.0,1022.0
4,12160,Elbląg,2025-05-01 13:00:00,14.8,2,60,36.4,0.0,1023.0
...,...,...,...,...,...,...,...,...,...
57,12497,Włodawa,2025-05-01 13:00:00,17.6,5,350,25.5,0.0,1021.6
58,12424,Wrocław,2025-05-01 13:00:00,21.1,3,120,38.3,0.0,1021.9
59,12625,Zakopane,2025-05-01 13:00:00,17.0,4,340,41.5,0.0,NaN
60,12595,Zamość,2025-05-01 13:00:00,17.4,6,330,33.6,0.0,1022.1
61,12400,Zielona Góra,2025-05-01 13:00:00,21.5,1,340,34.4,0.0,1021.3

In [19]:
from sqlalchemy import create_engine

# Replace with your actual database credentials
engine = create_engine("postgresql+psycopg2://postgres:postgres@localhost:5432/weather_imgw")

from sqlalchemy import inspect
inspector = inspect(engine)
schema_name = 'public'  # for example: 'public'

tables = inspector.get_table_names(schema=schema_name)
print(tables)

['weather']

In [20]:
def write_to_postgres(df):
    return print(f'Inserted {df.to_sql(tables[0], engine, if_exists='append',index=False)} rows to table {tables[0]}')

write_to_postgres(df)

Inserted 62 rows to table weather

In [22]:
df

,id_stacji,stacja,data_pomiaru,temperatura,predkosc_wiatru,kierunek_wiatru,wilgotnosc_wzgledna,suma_opadu,cisnienie
0,12295,Białystok,2025-05-01 13:00:00,16.6,3,330,31.5,0.0,1022.3
1,12600,Bielsko Biała,2025-05-01 13:00:00,19.7,3,290,38.2,0.0,1021.5
2,12235,Chojnice,2025-05-01 13:00:00,18.8,3,190,42.3,0.0,1021.7
3,12550,Częstochowa,2025-05-01 13:00:00,19.4,3,330,38.4,0.0,1022.0
4,12160,Elbląg,2025-05-01 13:00:00,14.8,2,60,36.4,0.0,1023.0
...,...,...,...,...,...,...,...,...,...
57,12497,Włodawa,2025-05-01 13:00:00,17.6,5,350,25.5,0.0,1021.6
58,12424,Wrocław,2025-05-01 13:00:00,21.1,3,120,38.3,0.0,1021.9
59,12625,Zakopane,2025-05-01 13:00:00,17.0,4,340,41.5,0.0,NaN
60,12595,Zamość,2025-05-01 13:00:00,17.4,6,330,33.6,0.0,1022.1
61,12400,Zielona Góra,2025-05-01 13:00:00,21.5,1,340,34.4,0.0,1021.3

In [21]:
from sqlalchemy import create_engine
from sqlalchemy.pool import NullPool
from dotenv import load_dotenv
import os

# Load environment variables from .env
load_dotenv(override=True)

# Fetch variables
USER = os.getenv("user")
PASSWORD = os.getenv("password")
HOST = os.getenv("host")
PORT = os.getenv("port")
DBNAME = os.getenv("dbname")

# Construct the SQLAlchemy connection string
DATABASE_URL = f"postgresql+psycopg2://{USER}:{PASSWORD}@{HOST}:{PORT}/{DBNAME}?sslmode=require"

# Create the SQLAlchemy engine
# engine = create_engine(DATABASE_URL)
# If using Transaction Pooler or Session Pooler, we want to ensure we disable SQLAlchemy client side pooling -
# https://docs.sqlalchemy.org/en/20/core/pooling.html#switching-pool-implementations
engine = create_engine(DATABASE_URL, poolclass=NullPool)

# Test the connection
try:
    with engine.connect() as connection:
        print("Connection successful!")
except Exception as e:
    print(f"Failed to connect: {e}")

Connection successful!

In [23]:
def write_to_supabase(df):
    df.to_sql(
        name='weather',
        con=engine,
        if_exists='append',  # don't replace the table
        index=False,         # don't write the DataFrame index as a column
        method='multi'       # use bulk insert for better performance
    )
    print("✅ Data inserted into Supabase!")

write_to_postgres(df)

Inserted 62 rows to table weather